<footer class="footer container-fluid mt-5 py-5">
    <section class="sec1 d-lg-flex ">
        <div class="d-md-flex col-lg-6">
            <div class="lists col-lg-6">
                <div>
                    <a class="head " href="#"><p class="text-uppercase mb-4">online shopping</p></a>
                    <ul> 
                        <a href="#"><li>Men</li></a>
                        <a href="#"><li>Women</li></a>
                        <a href="#"><li>Kids</li></a>
                        <a href="#"><li>Home & Living</li></a>
                        <a href="#"><li>Beauty</li></a>
                        <a href="#"><li>Gift Cards</li></a>
                        <a href="#"><li>Myntra Insider</li></a>
                    </ul>
                </div>
                <div>
                    <a class="head" href="#"><p class="text-uppercase mb-4">useful links</p></a>
                    <ul> 
                        <a href="#"><li>Blog</li></a>
                        <a href="#"><li>Careers</li></a>
                        <a href="#"><li>Site Map</li></a>
                        <a href="#"><li>Corporate Information</li></a>
                        <a href="#"><li>White Hat</li></a>
                        
                    </ul>
                </div>
            </div>
            <div class="lists col-lg-6">
                <a class="head" href="#"><p class="text-uppercase mb-4">customer policies</p></a>
                    <ul> 
                        <a href="#"><li>Contact Us</li></a>
                        <a href="#"><li>FAQ</li></a>
                        <a href="#"><li>T&C</li></a>
                        <a href="#"><li>Terms Of Use</li></a>
                        <a href="#"><li>Track Orders</li></a>
                        <a href="#"><li>Shipping</li></a>
                        <a href="#"><li>Cancellation</li></a>
                        <a href="#"><li>Returns</li></a>
                        <a href="#"><li>Privacy Policy</li></a>
                        <a href="#"><li>Grievance Officer</li></a>
                        
                    </ul>
            </div>
        </div>
        <div class="d-md-flex justify-content-between col-lg-6">
            <div class="lists col-sm-6 col-md-5">
                <div>
                    <a href="#" class="head"><p class="text-uppercase mb-4">EXPERIENCE MYNTRA APP ON MOBILE</p></a>
                    <div class="d-flex m-32">
                        <div>
                            <a href="#"><img class="img-fluid" src="https://constant.myntassets.com/web/assets/img/80cc455a-92d2-4b5c-a038-7da0d92af33f1539674178924-google_play.png" alt=""></a>
                        </div>
                        <div>
                            <a href="#"><img class="img-fluid" src="https://constant.myntassets.com/web/assets/img/bc5e11ad-0250-420a-ac71-115a57ca35d51539674178941-apple_store.png" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="keep-touch-sec mb-5">
                    <a href="#" class="head"><p class="text-uppercase my-4">keep in touch</p></a>
                    <div class="d-flex mar-icon">
                        <div class="me-3">
                            <a href="#"><img class="" src="https://constant.myntassets.com/web/assets/img/d2bec182-bef5-4fab-ade0-034d21ec82e31574604275433-fb.png" alt=""></a>
                        </div>
                        <div class="me-3">
                            <a href="#"><img class="" src="https://constant.myntassets.com/web/assets/img/f10bc513-c5a4-490c-9a9c-eb7a3cc8252b1574604275383-twitter.png" alt=""></a>
                        </div>
                        <div class="me-3">
                            <a href="#"><img class="" src="https://constant.myntassets.com/web/assets/img/a7e3c86e-566a-44a6-a733-179389dd87111574604275355-yt.png" alt=""></a>
                        </div>
                        <div>
                            <a href="#"><img class="" src="https://constant.myntassets.com/web/assets/img/b4fcca19-5fc1-4199-93ca-4cae3210ef7f1574604275408-insta.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list  col-sm-6">
                <div class="d-flex mb-3">
                    <div class="guarantee-img"><img class="img-fluid" src="https://constant.myntassets.com/web/assets/img/6c3306ca-1efa-4a27-8769-3b69d16948741574602902452-original.png" alt=""></div>
                    <div class="guarantee-text">
                        <p class="text-color"><strong class="ul-color">100% ORIGINAL</strong> guarantee for all products at myntra.com</p>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="react-img"><img class="img-fluid" src="https://assets.myntassets.com/assets/images/retaillabs/2023/5/22/becb1b16-86cc-4e78-bdc7-7801c17947831684737106127-Return-Window-image.png" alt=""></div>
                    <div class="react-text">
                        <p class="text-color"><strong class="ul-color">Return within 14days</strong> of receiving your order</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="sec2 mt-5">
        <div class="lists2">
            <a class="head2" href="#"><p class="text-uppercase mb-4">customer policies</p> </a>
            <div class="divider"></div>
        </div>
        <div class="searches">
            <a href="#">Makeup</a>
            <a href="#">Dresses For Girls</a>
            <a href="#">T-Shirts</a>
            <a href="#">Sandals</a>
            <a href="#">Headphones</a>
            <a href="#">Babydolls</a>
            <a href="#">Blazers For Men</a>
            <a href="#">Handbags</a>
            <a href="#">Ladies Watches</a>
            <a href="#">Bags</a>
            <a href="#">Sport Shoes</a>
            <a href="#">Reebok Shoes</a>
            <a href="#">Puma Shoes</a>
            <a href="#">Boxers</a>
            <a href="#">Wallets</a>
            <a href="#">Tops</a>
            <a href="#">Earrings</a>
            <a href="#">Fastrack Watches</a>
            <a href="#">Kurtis</a>
            <a href="#">Nike</a>
            <a href="#">Smart Watches</a>
            <a href="#">Titan Watches</a>
            <a href="#">Designer Blouse</a>
            <a href="#">Gowns</a>
            <a href="#">Rings</a>
            <a href="#">Cricket Shoes</a>
            <a href="#">Forever 21</a>
            <a href="#">Eye Makeup</a>
            <a href="#">Photo Frames</a>
            <a href="#">Panjabi Suits</a>
            <a href="#">Bikini</a>
            <a href="#">Myntra Fashion Show</a>
            <a href="#">Lipstick</a>
            <a href="#">Saree</a>
            <a href="#">Watches</a>
            <a href="#">Dresses</a>
            <a href="#">Lehenga</a>
            <a href="#">Nike Shoes</a>
            <a href="#">Goggles</a>
            <a href="#">Bras</a>
            <a href="#">Suit</a>
            <a href="#">Chinos</a>
            <a href="#">Shoes</a>
            <a href="#">Adidas Shoes</a>
            <a href="#">Woodland Shoes</a>
            <a href="#">Jewellery</a>
            <a class="no-line" href="#">Designer Sarees</a>
        </div>
        <div class="con-copy my-4 d-lg-flex justify-content-between">
            <div>
                <p>In case of any concern, <a class="fw-bold text-decoration-none text-primary" href="#">Contact Us</a> </p>
            </div>
            <div>
                <p>© 2023 www.myntra.com. All rights reserved.</p>
            </div>
        </div>
        <div class="divider my-4"></div>
    </section>
    <section class="address">
        <div>
            <p class="fw-bold text-dark">Registered Office Address</p>
        </div>
        <div class="d-md-flex justify-content-between">
            <div class="">
                <p>Buildings Alyssa, <br>Begonia and Clover situated in Embassy Tech Village, <br>Outer Ring Road, <br>Devarabeesanahalli Village, <br>Varthur Hobli,<br>Bengaluru – 560103, India</p>
            </div>
            <div class="m-top">
                <p>CIN: U72300KA2007PTC041799</p>
                <p>Telephone: <a class="text-primary fw-bold" href="#">+91-80-61561999</a></p>
            </div>
        </div>
        <div class="divider my-4"></div>
    </section>

</footer>
