@import "../style/variables";

.header{
    background-color: $white;
    position: fixed;
    width: 100vw;
    top: 0;
    box-shadow: 0px 1px 4px $nav-shadow;
    z-index: 1000;
}
.nav-logo img {
    width: 50px;
}
a{
    text-decoration: none;
    color: $nav-clr;  
    font-size: 13px;
      
}
.nav-menu a{
    font-weight: 700;
    transition: ease 0.1s;
    
&:hover{
    border-bottom: 4px solid $nav-borderbtm;
}
}

.searchbar input{
    outline: none;
    background-color: $bg-blue;
    border: none;
    padding: 5px 25px 5px 0px;
}
.searchbar input::placeholder{
    font-size: 12px;
}
.searchbar>fa-icon{
    background-color: $bg-blue;
    padding: 5px 10px;
}

.list-group{
    --bs-list-group-border-color: none;
    --bs-list-group-bg: $bg-blue;
    
    
}
.offcanvas {
    background-color: $bg-blue;
    max-width: 70%;
}
.offcanvas-title{
    color: $text-color;
    font-family:cursive;
}
.list-group .list-group-item{
    font-size: 16px;
    color: $text-color;
    &:hover{
        font-size: 16px;
        font-weight: 700;
        color: $text-color;
    }
}
.logoutBtn{
    cursor: pointer;
}

@media (min-width:992px){
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: $bg-blue;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        width: 90vw;
        left: -76px;
        
    }
    
    .dropdown:hover .dropdown-content {
      display: block;
      
    }

    .dropdown-content ul {
      list-style-type: none;
      padding: 15px;
      
    }
    
    .dropdown-content ul li {
      padding: 10px;
    }
    .logoutBtn{
        padding-top: 8px;
        cursor: pointer;
    }
}
  
.dropdown-menu {
    border: none;
    border-radius: 0px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
}
.dropdown-item:focus, .dropdown-item:hover{
    color: $black;
    background-color: $white;
    font-weight: 700;
}
.dropdown-item{
    font-size: 11px;
    color: $footer-li-text;
}
.divider{
    flex-grow: 1; /*  it take up all available horizontal space, pushing itself to the right. */
    height: 1px; 
    background-color: $hr-line;
    margin-left: 10px;
    margin-top: -20px;
}