<ng-container *ngIf="!isLoggedIn && !isSignUp">
  <section class="bg-blue">
    <div class="margin-left col-md-6 col-lg-4 col-xl-3 pt-5">
      <div>
        <div class="login-img">
          <img class="img-fluid" [src]="loginImage" alt="login-img" />
        </div>
        <div class="login-sec p-4">
          <div>
            <h5>Login <span class="fs-6 text-secondary">or</span> Signup</h5>
          </div>
          <form
            [formGroup]="loginForm"
            (ngSubmit)="onSubmitForm()"
            class="input-group input-before-number mt-4"
          >
            <div class="form-group">
              <!-- We use the (input) event binding in Angular to listen for input changes within an HTML input element. -->
              <input
                type="tel"
                placeholder=" Mobile Number *"
                class="form-control py-1"
                name="contactNo"
                formControlName="contactNo"
                (input)="mobileNumberValidation()"
                [ngClass]="{
                  'is-invalid': contactNo.touched && contactNo.invalid
                }"
              />
            </div>
            <div
              class="fs-small"
              *ngIf="contactNo.touched && contactNo.invalid"
            >
              <div class="error-message">
                {{ getContactNumberErrorMessage() }}
              </div>
            </div>
            
            <div class="mt-4">
              <div class="fs-small">
                <p class="text-secondary">
                  By continuing, I agree to the
                  <span
                    ><a href="https://www.myntra.com/termsofuse"
                      >Terms of Use</a
                    ></span
                  >
                  &
                  <span
                    ><a href="https://www.myntra.com/privacypolicy"
                      >Privacy Policy</a
                    ></span
                  >
                </p>
              </div>
              <div class="button text-center">
                <button
                  [disabled]="loginForm.invalid"
                  type="submit"
                  class="btn btn-secondary text-uppercase fw-bold"
                >
                  continue
                </button>
              </div>
              <div class="d-flex justify-content-between">
                <div class="get-help mt-4">
                  <p class="text-secondary">
                    Have trouble logging in? <span><a href="#">Get Help</a></span>
                  </p>
                </div>
                <div class="goToSignUp">
                  <a class="cursor2 fs-small text-secondary" (click)="switchToSignUp()">SignUp</a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</ng-container>
<ng-container *ngIf="isSignUp">
  <section class="bg-blue">
    <div class="margin-left col-md-6 col-lg-4 col-xl-3 pt-5">
      <div>
        <div class="signup-sec p-4">
          <div class="py-2">
            <h5>Sign Up</h5>
          </div>
          <form [formGroup]="signupForm" (ngSubmit)="onSignupSubmit()">
            <div class="form-group py-3">
              <input
                type="text"
                placeholder="First Name *"
                class="form-control py-1"
                name="firstName"
                formControlName="firstName"
                [ngClass]="{
                  'is-invalid': firstName.touched && firstName.invalid
                }"
              />
            </div>
            <div class="fs-small" *ngIf="firstName.touched && firstName.invalid">
              <div class="error-message">{{ getFirstNameErrorMessage() }}</div>
            </div>

            <div class="form-group py-3">
              <input
                type="text"
                placeholder="Last Name *"
                class="form-control py-1"
                name="lastName"
                formControlName="lastName"
                [ngClass]="{
                  'is-invalid': lastName.touched && lastName.invalid
                }"
              />
            </div>
            <div class="fs-small" *ngIf="lastName.touched && lastName.invalid">
              <div class="error-message">{{ getLastNameErrorMessage() }}</div>
            </div>

            <div class="form-group py-3">
              <input
                type="email"
                placeholder="Email *"
                class="form-control py-1"
                name="email"
                formControlName="email"
                [ngClass]="{
                  'is-invalid': email.touched && email.invalid
                }"
              />
            </div>
            <div class="fs-small" *ngIf="email.touched && email.invalid">
              <div class="error-message">{{ getEmailErrorMessage() }}</div>
            </div>

            <div class="form-group py-3">
              <input
                type="text"
                placeholder="Address *"
                class="form-control py-1"
                name="address"
                formControlName="address"
                [ngClass]="{
                  'is-invalid': address.touched && address.invalid
                }"
              />
            </div>
            <div class="fs-small" *ngIf="address.touched && address.invalid">
              <div class="error-message">{{ getAddressErrorMessage() }}</div>
            </div>

            <div class="form-group py-3">
              <input
                type="tel"
                placeholder=" Mobile Number *"
                class="form-control py-1"
                name="contactNo1"
                formControlName="contactNo1"
                (input)="mobileNumberValidation1()"
                [ngClass]="{
                  'is-invalid': contactNo1.touched && contactNo1.invalid
                }"
              />
            </div>
            <div
              class="fs-small"
              *ngIf="contactNo1.touched && contactNo1.invalid"
            >
              <div class="error-message">
                {{ getContact1NumberErrorMessage() }}
              </div>
            </div>

            <div class="fs-small">
              <p class="text-secondary">
                <a class="cursor" (click)="backToLogin()">Back to Login</a>
              </p>
            </div>

            <div class="button text-center">
              <button
                [disabled]="signupForm.invalid"
                type="submit"
                class="btn btn-secondary text-uppercase fw-bold"
              >
                Continue
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</ng-container>
<ng-container *ngIf="isLoggedIn">
  <section class="bg-blue">
    <div class="margin-left col-md-6 col-lg-4 col-xl-3">
      <div class="otp-page mt-5">
        <div class="otp-img">
          <img class="img-fluid" [src]="otpImage" alt="otp-img" />
        </div>
        <div class="otp-sec px-4 py-2">
          <div>
            <h5>Verify with OTP</h5>
          </div>
          <div class="fs-small">Sent to {{ mobileNum }}{{ mobileNum1 }}</div>
          <form [formGroup]="otpForm" class="input-group mt-4">
            <input
              type="text"
              class="form-control"
              name="otpNo"
              formControlName="otpNo"
              (input)="limit()"
              [ngClass]="{ 'is-invalid': otpNo.touched && otpNo.invalid }"
            />
            <div class="fs-small" *ngIf="otpNo.touched && otpNo.invalid">
              <div class="error-message">{{ getOtpErrorMessage() }}</div>
            </div>

            <div class="button mt-3 text-center">
              <button
                [disabled]="otpForm.invalid"
                (click)="goToHome()"
                type="button"
                class="btn btn-secondary text-uppercase fw-bold"
                data-bs-toggle="modal"
                data-bs-target="#staticBackdrop"
              >
                verify
              </button>
            </div>

            <div class="mt-4">
              <div class="otp-timer">
                <p class="text-secondary fs-small" *ngIf="num > 0">
                  <!-- jab tak num ki value greater than 0 hai, tab tak hi ye block dikhega -->
                  Resend OTP in
                  <span class="text-dark fw-bold" *ngIf="num > 0">{{
                    this.num
                  }}</span>
                </p>
                <a class="cursor" (click)="restartTimer()">
                  <p
                    class="text-secondary fs-small cursor d-block"
                    *ngIf="num === 0"
                  >
                    Resend the OTP
                  </p>
                </a>
              </div>
              <div class="fs-small d-flex justify-content-between">
                <p class="text-secondary">
                  <a class="cursor" (click)="backToLogin()">Back to Login</a>
                </p>
                <p class="text-secondary">
                  <a class="cursor" (click)="backToSignup()">Back to SignUp</a>
                </p>
              </div>
              <div class="get-help mt-4">
                <p class="text-secondary">
                  Have trouble logging in? <span><a href="#">Get Help</a></span>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- Modal -->
  <div
    class="modal fade"
    id="staticBackdrop"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Login</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
          ></button>
        </div>
        <div class="modal-body">Login Successfully!</div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btnn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-container>
