<section class="main">
  <section
    id="carouselExampleAutoplaying"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleAutoplaying"
        [attr.data-bs-slide-to]="i"
        *ngFor="let image of carouselImages; let i = index"
        class="active d-none d-lg-block"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item caro active" (pause)="(false)" *ngFor="let image of carouselImages; let i = index" [class.active]="i === 0">
        <a href="#">
          <img
            [src]="image.src"
            class="d-lg-block w-lg-100"
            [alt]="image.alt"
          />
        </a>
      </div>
    </div>
    <button
      class="carousel-control-prev d-none d-lg-block"
      type="button"
      data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" ></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next d-none d-lg-block"
      type="button"
      data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" ></span>
      <span class="visually-hidden">Next</span>
    </button>
  </section>
  <section class="mid-main mt-5">
    <div>
      <h4>MEDAL WORTHY BRANDS TO BAG</h4>
    </div>
    <div class="brand-img-collection">
      <div
        id="carouselExampleInterval"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleInterval"
            data-bs-slide-to="0"
            class="active d-none d-lg-block"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleInterval"
            data-bs-slide-to="1"
            class="d-none d-lg-block"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleInterval"
            data-bs-slide-to="2"
            class="d-none d-lg-block"
          ></button>
        </div>
        <div class="carousel-inner">
          <div
            class="carousel-item active"
            data-bs-interval="3000"
            (pause)="(false)"
          >
            <div class="d-flex brand-coll">
              <a href="#"
                ><img
                  [src]="caroImg1"
                  alt="..."
              /></a>
              <a href="#"
                ><img
                [src]="caroImg2"
                  alt="..."
              /></a>
              <a href="#" class="d-none d-sm-block"
                ><img
                [src]="caroImg3"
                  alt="..."
              /></a>
              <a href="#" class="d-none d-md-block"
                ><img
                [src]="caroImg4"
                  alt="..."
                />
              </a>
              <a href="#" class="d-none d-lg-block"
                ><img
                [src]="caroImg5"
                alt="..."
              /></a>
              <a href="#" class="d-none d-lg-block"
                ><img
                  [src]="caroImg6"
                  alt="..."
              /></a>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="3000" (pause)="(false)">
            <div class="d-flex brand-coll">
              <a href="#"
                ><img
                [src]="caro2Img1"
                  alt="..."
              /></a>
              <a href="#"
                ><img
                [src]="caro2Img2"
                  alt="..."
              /></a>
              <a href="#" class="d-none d-sm-block"
                ><img
                [src]="caro2Img3"
                  alt="..."
              /></a>
              <a href="#"
                ><img
                [src]="caro2Img4"
                  class="d-none d-md-block"
                  alt="..."
                />
              </a>
              <a href="#" class="d-none d-lg-block"
                ><img
                [src]="caro2Img5"
                  alt="..."
              /></a>
              <a href="#" class="d-none d-lg-block"
                ><img
                [src]="caro2Img6"
                  alt="..."
              /></a>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="3000" (pause)="(false)">
            <div class="d-flex brand-coll">
              <a href="#"
                ><img
                  [src]="caro3Img1"
                  alt="..."
              /></a>
              <a href="#"
                ><img
                [src]="caro3Img2"
                  alt="..."
              /></a>
              <a href="#" class="d-none d-sm-block"
                ><img
                  [src]="caro3Img3"
                  class="d-none d-sm-block"
                  alt="..."
              /></a>
              <a href="#" class="d-none d-md-block"
                ><img
                  [src]="caro3Img4"
                  alt="..."
                />
              </a>
              <a href="#" class="d-none d-lg-block"
                ><img
                  [src]="caro3Img5"
                  alt="..."
              /></a>
              <a href="#" class="d-none d-lg-block"
                ><img
                  [src]="caro3Img6"
                  alt="..."
              /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="mid-main-2 mt-5">
    <div>
      <h4>RAKSHABANNDHAN GIFTS THIS WAY</h4>
    </div>
    <div class="rakhi-sec d-flex">
      <a class="d-block" href="#" *ngFor="let image of rakhiImages"
        ><img
          [src]="image.src2"
          [alt]="image.alt2"
      /></a>
      <a class="d-none d-md-block" href="#" *ngFor="let image of rakhiImages2"
        ><img
          [src]="image.src3"
          [alt]="image.alt3"
      /></a>
    </div>
  </section>
  <section class="mid-main-3 mt-5">
    <div>
      <h4>GRAND GLOBAL BRANDS</h4>
    </div>
    <div
      id="carouselExampleSlidesOnly"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleSlidesOnly"
          data-bs-slide-to="0"
          class="active d-none d-lg-block"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleSlidesOnly"
          data-bs-slide-to="1"
          class="d-none d-lg-block"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="3000" >
          <div class="d-flex glob-brand">
            <a href="#" *ngFor="let item of globImages1; let i = index" [class.active]="i === 0"
              ><img
                [src]="item.src4"
                alt="..."
            /></a>
            <a class="d-none d-md-block" href="#" *ngFor="let item of globImages2; let i = index" [class.active]="i === 0"
              ><img
                [src]="item.src5"
                alt="..."
            /></a>
            <a class="d-none d-lg-block" href="#" *ngFor="let item of globImages3; let i = index" [class.active]="i === 0"
              ><img
                [src]="item.src6"
                alt="..."
            /></a>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <div class="d-flex glob-brand">
            <a href="#" *ngFor="let item of globImages4; let i = index" [class.active]="i === 0"
              ><img
                [src]="item.src7"
                alt="..."
            /></a>
            <a class="d-none d-md-block" href="#" *ngFor="let item of globImages5; let i = index" [class.active]="i === 0"
              ><img
                [src]="item.src8"
                alt="..."
            /></a>
            <a class="d-none d-lg-block" href="#" *ngFor="let item of globImages6; let i = index" [class.active]="i === 0"
              ><img
                [src]="item.src9"
                alt="..."
            /></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="last-main mt-5">
    <div>
      <h4>SHOP BY CATEGORY</h4>
    </div>
    <div class="catogory-coll">
      <div class="d-flex" >
        <div class="m-left">
          <a href="#"
            ><img
              [src]="catoImg1"
              alt="..."
          /></a>
        </div>
        <div>
          <a href="#"
            ><img
            [src]="catoImg2"
              alt="..."
          /></a>
        </div>
        <div>
          <a href="#" class="d-none d-sm-block"
            ><img
            [src]="catoImg3"
              alt="..."
          /></a>
        </div>
        <div>
          <a href="#" class="d-none d-md-block"
            ><img
            [src]="catoImg4"
              alt="..."
          /></a>
        </div>
        <div>
          <a href="#" class="d-none d-lg-block"
            ><img
            [src]="catoImg5"
              alt="..."
          /></a>
        </div>
        <div>
          <a href="#" class="d-none d-lg-block"
            ><img
            [src]="catoImg6"
              alt="..."
          /></a>
        </div>
      </div>
      <div class="d-flex">
        <div class="m-left">
          <a href="#"
            ><img
            [src]="cato2Img1"
              alt="..."
          /></a>
        </div>
        <div>
          <a href="#"
            ><img
            [src]="cato2Img2"
              alt="..."
          /></a>
        </div>
        <div>
          <a href="#" class="d-none d-sm-block"
            ><img
            [src]="cato2Img3"
              alt="..."
          /></a>
        </div>
        <div>
          <a href="#" class="d-none d-md-block"
            ><img
            [src]="cato2Img4"
              alt="..."
          /></a>
        </div>
        <div>
          <a href="#" class="d-none d-lg-block"
            ><img
            [src]="cato2Img5"
              alt="..."
          /></a>
        </div>
        <div>
          <a href="#" class="d-none d-lg-block"
            ><img
            [src]="cato2Img6"
              alt="..."
          /></a>
        </div>
      </div>
      <div class="d-flex">
        <div class="m-left">
          <a href="#"
            ><img
              [src]="cato3Img1"
              alt="..."
          /></a>
        </div>
        <div>
          <a href="#"
            ><img
            [src]="cato3Img2"
              alt="..."
          /></a>
        </div>
        <div>
          <a href="#" class="d-none d-sm-block"
            ><img
            [src]="cato3Img3"
              alt="..."
          /></a>
        </div>
        <div>
          <a href="#" class="d-none d-md-block"
            ><img
            [src]="cato3Img4"
              alt="..."
          /></a>
        </div>
        <div>
          <a href="#" class="d-none d-lg-block"
            ><img
            [src]="cato3Img5"
              alt="..."
          /></a>
        </div>
        <div>
          <a href="#" class="d-none d-lg-block"
            ><img
            [src]="cato3Img6"
              alt="..."
          /></a>
        </div>
      </div>
      <div class="d-flex">
        <div class="m-left">
          <a href="#"
            ><img
              [src]="cato4Img1"
              alt="..."
          /></a>
        </div>
        <div>
          <a href="#"
            ><img
            [src]="cato4Img2"
              alt="..."
          /></a>
        </div>
        <div>
          <a href="#" class="d-none d-sm-block"
            ><img
            [src]="cato4Img3"
              alt="..."
          /></a>
        </div>
        <div>
          <a href="#" class="d-none d-md-block"
            ><img
            [src]="cato4Img4"
              alt="..."
          /></a>
        </div>
        <div>
          <a href="#" class="d-none d-lg-block"
            ><img
            [src]="cato4Img5"
              alt="..."
          /></a>
        </div>
        <div>
          <a href="#" class="d-none d-lg-block"
            ><img
            [src]="cato4Img6"
              alt="..."
          /></a>
        </div>
      </div>
      <div class="d-flex">
        <div class="m-left">
          <a href="#"
            ><img
            [src]="cato5Img1"
              alt="..."
          /></a>
        </div>
        <div>
          <a href="#"
            ><img
            [src]="cato5Img2"
              alt="..."
          /></a>
        </div>
        <div>
          <a href="#" class="d-none d-sm-block"
            ><img
            [src]="cato5Img3"
              alt="..."
          /></a>
        </div>
        <div>
          <a href="#" class="d-none d-md-block"
            ><img
            [src]="cato5Img4"
              alt="..."
          /></a>
        </div>
        <div>
          <a href="#" class="d-none d-lg-block"
            ><img
            [src]="cato5Img5"
              alt="..."
          /></a>
        </div>
        <div>
          <a href="#" class="d-none d-lg-block"
            ><img
            [src]="cato5Img6"
              alt="..."
          /></a>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div class="m-left">
          <a href="#"
            ><img
              [src]="cato6Img1"
              alt="..."
          /></a>
        </div>
        <div>
          <a href="#"
            ><img
            [src]="cato6Img2"
              alt="..."
          /></a>
        </div>
        <div>
          <a href="#" class="d-none d-sm-block"
            ><img
            [src]="cato6Img3"
              alt="..."
          /></a>
        </div>
      </div>
    </div>
  </section>
</section>
